<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAPY</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
        integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">



    <style>
        .active {
            color: red;
            text-decoration: underline
        }



        #kolko:hover {
            background: red
        }

        table {
            /* width: 100%; */

        }

        thead {
            display: block;
            /* width: 100%; */
            height: 20px;
        }

        tbody {
            width: 400px;
            display: block;
            height: 400px;
            overflow: auto;

        }

        td {
            width: 50px
        }

        @media(max-width:800px) {
            .mnav {
                /* display:fixed; */
                position: fixed;
                top: 50px;
                right: 50px;
                border-radius: 50%;
                z-index: 19999;
                opacity: 0.6;
                -webkit-backface-visibility: hidden;
            }

            .mnav2 {
                /* display:fixed; */
                position: fixed;
                bottom: 50px;
                right: 50px;
                border-radius: 50%;
                z-index: 19999;
                opacity: 0.6;
                -webkit-backface-visibility: hidden;
            }

            #kolko {
                display: none !important;
            }
        }

        .myheader {
            position: fixed;
            right: 0;
            left: 0;
            top: 0;
            /* padding-top: 20px; */
            /* padding-bottom: 20px; */
            background-color: #fff;
            box-shadow: 0 1px 1px 0 #f0f0f0;
            z-index: 999;
            animation-name: fadeInDown;
            animation-duration: 0.25s;
            height: 50px;
            border: 1px red solid;
        }

        @media(min-width:800px) {
            #kolko {

                border-radius: 5px;
                width: 10px;
                height: 10px;
                border: 1px #999 solid;
                position: absolute;
                left: 20px;
                bottom: 20px;
            }

            .mnav,
            .mnav2 {
                display: none;
            }
        }
    </style>

</head>

<body>

    <!-- <img src="https://tinyurl.com/ycqytlw7" alt=""> -->
    <div class="myheader">
        <!-- <div class="mnav"> -->
        <a href="/#mapid"><button class="btn btn-primary">Mapa</button></a>
        <a href="/#app"><button class="btn btn-primary">Miejsca</button></a>
        <a href="/#galeria" v-if="activepointindex"><button class="btn btn-primary">Galeria</button></a>

        <!-- </div> -->


    </div>
    <div style="margin-top:50px;"></div>
    <div class="container" style="max-width:1500px">
        <div class="row">
            <div id="mapid" style="width:600px;height:600px;margin-right:20px" class="col-lg-5"></div>
            <div id="app" class="col-lg-6">

                <!-- <div class="mnav2">
                    <a href="/#mapid"><button class="btn btn-primary">Mapa</button></a>
                    <a href="/#app"><button class="btn btn-primary">Miejsca</button></a>
                    <a href="/#galeria" v-if="activepointindex"><button class="btn btn-primary">Galeria</button></a>

                </div> -->
                <div id="demo"></div>

                <p><b>Twoje punkty:</b> <span style="cursor:pointer;color:#007bff"
                        @click="showP = !showP">(Pokaż)</span> <span style="cursor:pointer;color:#007bff" href=""
                        @click="deleteMode = !deleteMode">(Edytuj)</span></p>

                <table style="margin-bottom:20px" v-if="showP">
                    <thead>
                        <td>x</td>
                        <td>y</td>
                        <td>index</td>
                    </thead>
                    <tbody>
                        <tr v-for="(elem,index) in points" :class="{active:elem.index == activepointindex}">
                            <td>{{Math.round(elem.x*100)/100}}</td>
                            <td>{{Math.round(elem.y*100)/100}}</td>
                            <td>{{elem.index}}</td>
                            <td> <button @click="remove(index)" v-if="deleteMode">Usuń</button> </td>
                        </tr>
                    </tbody>
                </table>
                <label for="">x</label>
                <input type="text" style="width:50px" v-model="cruddata.x">
                <label for="">y</label>
                <input type="text" style="width:50px" v-model="cruddata.y">
                <label for="">kod miejsca</label>
                <input type="text" style="width:80px" v-model="cruddata.index">
                <button @click="add">Dodaj</button>
                <!-- <button @click="save">Zapisz</button> -->

                <p style="clear:both"></p>

                <h1>{{activepointindex}}</h1>
                <div v-if="Object.keys(activePoint).length">
                    <p style="font-weight:bold">Dodaj zdjęcie do miejsca</p>

                    <!-- <button @click="addPhoto">Dodaj dupa</button> -->

                    <!-- <form id="uploadform" :action="'api/upload.php?nazwapliku='+activepointindex+ (photoNumber)" -->
                    <!-- method="post" enctype="multipart/form-data"> -->
                    Wybierz plik z dysku:
                    <input type="file" name="fileToUpload" id="fileToUpload">
                    <!-- <input type="submit" value="Upload" name="submit" @click="addPhoto()"> -->

                    <!-- </form> -->

                    <button @click="submitupload">Wyślij</button>

                    <p><b>LUB podaj link:</b>
                        <input type="text" v-model="phototoadd">
                        <button @click="addPhoto('manual')">Zatwierdź</button>
                    </p>
                </div>

                <div id="galeria" style="display:flex;align-items:center;flex-wrap:wrap" id="galeria">
                    <div v-for="(elem,index) in activePoint.photos"
                        style="width:300px;padding:10px;border:1px #999 solid;margin:5px;display:flex;align-items:center">
                        <a :href="elem" target="_blank" style="display:flex"> <img style="max-height:200px" :src="elem"
                                alt="tu będzie obrazek" class="img-fluid"></a>
                        <button @click="removePhoto(index)" class="btn-sm btn-danger" v-if="deleteMode">x</button>
                    </div>

                </div>
                <span style="cursor:pointer;color:#007bff" href="" @click="deleteMode = !deleteMode">(Edytuj)</span>
                <br><br>
                <span style="cursor:pointer;color:#007bff" href="" v-if="activepointindex" @click="activepointindex = null">zamknij</span>

            </div>

        </div>
        <div>
            <p>To do:</p>
            <ul>
                <li>response z upload2.php</li>
                <li>za duży plik info</li>
                <li>ładniejszy navbar, material design</li>
            </ul>
        </div>
    </div>




    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>

    <script>
        var mymap = L.map('mapid').setView([52, 19.4], 6);


        function generateMap() {
            L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                maxZoom: 18,
                id: 'mapbox/streets-v11',
                tileSize: 512,
                zoomOffset: -1,
                accessToken: 'pk.eyJ1Ijoia29yZGl4IiwiYSI6ImNrNXM3YnN6cDBqZmozb211eGwxNjhzZGQifQ.UNDwB32m1pAfiBVBrkW4Qg'
            }).addTo(mymap);

        }

        generateMap();


    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>

    <script>
        Vue.config.productionTip = false;
        let app = new Vue({
            el: '#app',
            config: {
                productionTip: false
            },
            data: {
                cruddata: { x: 0, y: 0 },
                phototoadd: null,
                points: [],
                activepointindex: null,
                pointsObjects: [],
                deleteMode: false,
                showP: false
            },
            async mounted() {
                // await  this.getData();
                let self = this;
                this.getData()
                mymap.on('click', this.onMapClick);

                var x = document.getElementById("demo");
                function getLocation() {
                    if (navigator.geolocation) {
                        navigator.geolocation.getCurrentPosition(showPosition);
                    } else {
                        x.innerHTML = "Geolocation is not supported by this browser.";
                    }
                }

                function showPosition(position) {
                    x.innerHTML = "Latitude: " + position.coords.latitude +
                        "<br>Longitude: " + position.coords.longitude;

                    self.cruddata.x = position.coords.latitude;
                    self.cruddata.y = position.coords.longitude;

                }

                if(localStorage.getItem("lactivepoint")){
                this.activepointindex = localStorage.getItem("lactivepoint");
                localStorage.setItem("lactivepoint",'');
                }


                // fetch('https://ipgeolocation.abstractapi.com/v1/?api_key=ad53f7ad623c43eebcf668dd61527f7a').then((res) => res.json()).then((res) => {
                // self.cruddata.x = res.latitude;
                // self.cruddata.y = res.longitude;

                // })


                // getLocation();
                // showPosition();

            },
            methods: {
                getLocation() {

                },
                onMapClick(e) {
                    this.cruddata.x = e.latlng.lat;
                    this.cruddata.y = e.latlng.lng;


                    alert("You clicked the map at " + e.latlng);
                },
                myParse() {
                    const json = '{"result":true, "count":42}';
                    const obj = JSON.parse(json);
                },
                async getData() {
                    let self = this;
                    await fetch('/api/read.php').then((res) => res.json()).then((res) => { self.points = res })
                    this.drawPoints();
                },
                drawPoints() {
                    let self = this;
                    mymap.eachLayer((layer) => {
                        layer.remove();
                    });
                    generateMap();



                    for (let point of this.points) {

                        let rediconsets = {
                            iconUrl: 'redmarker.webp',
                            // shadowUrl: 'leaf-shadow.png',

                            iconSize: [38, 38], // size of the icon
                            shadowSize: [50, 64], // size of the shadow
                            iconAnchor: [22, 94], // point of the icon which will correspond to marker's location
                            shadowAnchor: [4, 62],  // the same for the shadow
                            popupAnchor: [-3, -76] // point from which the popup should open relative to the iconAnchor
                        }





                        if (point.index == this.activepointindex) {
                            L.Icon.Default.prototype.options.iconSize = [45, 61];
                            L.Icon.Default.prototype.options.iconAnchor = [20, 61];
                            rediconsets.iconSize = [50, 50];
                            rediconsets.iconAnchor = [25, 50];

                        } else {
                            L.Icon.Default.prototype.options.iconSize = [25, 41];
                            L.Icon.Default.prototype.options.iconAnchor = [12, 41];
                            rediconsets.iconSize = [40, 40];
                            rediconsets.iconAnchor = [20, 40];

                        }

                        var redmarkerIcon = L.icon(rediconsets);

                        // let redmarker = L.marker([point.x, point.y], { icon: redmarkerIcon });


                        let objectl = {}

                        if (!point.photos) {
                            objectl = L.marker([point.x, point.y]);
                        } else {
                            objectl = L.marker([point.x, point.y], { icon: redmarkerIcon });

                        }

                        objectl.addTo(mymap)


                        objectl.index = point.index;

                        objectl.on('click', function () {
                            app.activepointindex = objectl.index
                            self.drawPoints();
                        })

                        //this.pointsObjects.push(objectl);

                    }
                },
                add() {
                    this.points.push(this.cruddata);
                    this.save();

                    app.activepointindex = this.points[this.points.length - 1].index;
                    self.drawPoints();
                },
                removePhoto(index) {
                    this.points.find((el) => el.index == this.activepointindex).photos.splice(index, 1);
                    this.save();
                },
                addPhoto(mode) {
                 

                        let activePoint = this.points.find((el) => el.index == this.activepointindex);

                        if (!activePoint.photos) {
                            activePoint.photos = []
                        }

                        
                        let photoadd = '/uploads/' + this.activePoint.index + this.photoNumber + '.jpg';

                        if (mode == 'manual') {
                            photoadd = this.phototoadd;
                        }
                        this.points.find((el) => el.index == this.activepointindex).photos.push(photoadd);
                        this.save()

                        localStorage.setItem("lacitvepoint", this.activepointindex);

                        // location.reload();

                        this.photoadd = '';



                  
                },
                async save() {
                    let points = JSON.stringify(this.points);

                    await axios.post('api/save.php', { tekst: points });

                    this.getData();

                },
                remove(index) {
                    this.points.splice(index, 1)
                },
                async submitupload() {
                    let nextphoto = 999;

                    let activePoint = this.points.find((el) => el.index == this.activepointindex);

                    if (!activePoint.photos) {
                        activePoint.photos = []
                    }


                    if (this.activePoint.photos) {
                        if (this.activePoint.photos.length == 0) {
                            nextphoto = 1
                        } else {
                            nextphoto = this.activePoint.photos.length + 1;
                        }
                    } else {
                        nextphoto = 1;
                    }

                    let photoadd = '/uploads/' + this.activePoint.index + nextphoto + '.jpg';

                    this.points.find((el) => el.index == this.activepointindex).photos.push(photoadd);
                    this.save();

                    // document.getElementById("uploadform").action = 'api/upload.php?nazwapliku=' + this.activepointindex + nextphoto;
                    // document.getElementById("uploadform").submit();

                    const avatar = document.querySelector('#fileToUpload');
                    const formData = new FormData();
                    formData.append('image', avatar.files[0]);
                    try {
                        const response = await fetch('api/upload2.php?nazwapliku=' + this.activepointindex + nextphoto, {
                            method: 'POST',
                            body: formData
                        });
                        const result = await response.json();
                        console.log(result);
                    } catch (e) {
                        console.log(e);

                    }

                    // axios.post('api/upload.php?nazwapliku=' + this.activepointindex + nextphoto)
                }
            },
            computed: {
                activePoint() {
                    let objectl = this.points.find((el) => el.index == this.activepointindex);
                    return objectl ? objectl : {};
                },
                photoNumber() {
                    if (this.activePoint.photos) {
                        if (this.activePoint.photos.length == 0) {
                            return 0
                        } else {
                            return this.activePoint.photos.length;
                        }
                    } else {
                        return 0;
                    }
                }
            }


        })

    </script>


</body>

</html>